Package: com.jiaxw.Sophond
Name: Sophond
Version: 0.1-1
Description: 
Section: System
Depends: firmware (>= 5.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: jiaxw
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

